
<NavLink class="nav-link" href="sell">
    <div style="position: absolute; width: 100px; height: 50px; border: 1px solid #000; color: white; font-weight: bold; text-align: center; background-color: red; right: 200px; top: 75px; padding: 10px; ">
        Sell
    </div>
</NavLink>


@code {

}
