<ul class="list-unstyled list-group list-group-horizontal">
    @foreach (var item in items)
    {
        <li class="list-group media my-3">
            <div class="media-img-wrapper mr-2">
                <a href="/product/@item.Id">
                    <img class="media-img" src="@item.Image" alt="@item.Title" />
                </a>
            </div>
            <div class="media-body">
                <a href="/product/@item.Id">
                    <h4 class="mb-0">@item.Title</h4>
                </a>
                <p>@item.Description</p>
                @if (item.OriginalPrice > item.Price)
                {
                    <h6 class="text-muted original-price">$@item.OriginalPrice</h6>
                }
                <h5 class="price">
                    $@item.Price
                </h5>
            </div>
        </li>

    }
</ul>

@code {
    List<Item> items = new List<Item> {
        new Item
        {
            Id = 6,
            CategoryId = 2,
            Title = "SPItem6",
            Description = "SPDesc6",
            Price = 60,
            OriginalPrice = 60,
        },
        new Item
        {
            Id = 7,
            CategoryId = 3,
            Title = "SPItem7",
            Description = "SPDesc7",
            Price = 70,
            OriginalPrice = 70,
        },
        new Item
        {
            Id = 8,
            CategoryId = 2,
            Title = "SPItem8",
            Description = "SPDesc8",
            Price = 80,
            OriginalPrice = 80,
        },
        new Item
        {
            Id = 9,
            CategoryId = 3,
            Title = "SPItem9",
            Description = "SPDesc9",
            Price = 90,
            OriginalPrice = 90,
        },
        new Item
        {
            Id = 10,
            CategoryId = 2,
            Title = "SPItem10",
            Description = "SPDesc10",
            Price = 100,
            OriginalPrice = 100,
        }

    };
}
